@import url(http://fonts.googleapis.com/css?family=Covered+By+Your+Grace);
#days {
  font-size: 50px;
  color: #db4844;
  position: absolute;
  left:550px;
  top:55px;
}

#hours {
  font-size: 50px;
  color: #f07c22;
  position: absolute;
  left:630px;
  top:55px;
}

#minutes {
  font-size: 50px;
  color: #f6da74;
  position: absolute;
  left:690px;
  top:55px;
}

#seconds {
  font-size: 50px;
  color: #abcd58;
  position: absolute;
  left:770px;
  top:55px;
}

timer {
  display: inline-block;
  line-height: 1;
  padding: 30px;
  /*font-size: 40px;*/
  /*position: absolute;*/
  opacity: 0;
  z-index: -2;
}
timer.hover{
    opacity: 1;
}

span {
  display: block;
  font-size: 20px;
  color: white;
}

body {
  text-align: center;
  font-family: 'Covered By Your Grace', cursive;
  color: white;
  background: #222;
}