#slide {
    position: absolute;
    left: 100px;
    top:100px;
    
    width: 100px;
    height: 100px;
    /*background: blue;*/
    -webkit-animation: slide 0.5s backwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s backwards;
    animation-delay: 2s;
}

@-webkit-keyframes slide {
    100% { left: 200; }
}

@keyframes slide {
    100% { left: 200; }
}